*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(223, 219, 219);
    margin: 0;
}

header{
    display: flex;
    background-color: white;
}

#logo{
    margin: 15px 10px 15px 30px;
}

main{
    background-color: lightgrey;
    margin: 50px 200px 10px;
}

.button{
    background-color: white;
    padding: 15px 50px;
    margin-bottom: 3px;
}

#add-task{
    font-size: 10px;
    color: white;
    background-color: rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
    padding: 5px;
    border-radius: 10%;
}

#add-section{
    font-size: 10px;
    color: lightgrey;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 10%;
}

ul{
    list-style: none;

}

.v{
    display: inline-block;
    height: 23px;
    width: 23px;
    color:green;
    border: 2px solid green;
    border-radius: 50%;
    padding-left: 2px;
}

.x{
    display: inline-block;
    height: 23px;
    width: 23px;
    color: tomato;
    border: 2px solid tomato;
    border-radius: 50%;
    padding-left: 4px;
}

.list{
    background-color: white;
    padding: 50px 50px 10px;
}

li{
    display: inline;
}

.editorial{
    font-size: 10px;
    color: white;
    background-color: rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
    padding: 5px;
    border-radius: 20%;
}

.goals{
    font-size: 10px;
    color: white;
    background-color: rgb(180, 80, 180);
    border: 1px solid rgb(180, 80, 180);
    padding: 5px;
    border-radius: 20%;
}

.recruiting{
    font-size: 10px;
    color: white;
    background-color: rgb(116, 163, 137);
    border: 1px solid rgb(116, 163, 137);
    padding: 5px;
    border-radius: 20%;
}

.mobile{
    font-size: 10px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    padding: 5px;
    border-radius: 20%;
}

.website{
    font-size: 10px;
    color: white;
    background-color: violet;
    border: 1px solid violet;
    padding: 5px;
    border-radius: 20%;
}

.sales{
    font-size: 10px;
    color: white;
    background-color: rgb(161, 175, 30);
    border: 1px solid rgb(161, 175, 30);
    padding: 5px;
    border-radius: 20%;
}

