*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: lightgrey;
    height: 1200px;
    margin: 0;
}

header{
    display: flex;
    background-color: white;
}

#logo{
    margin: 15px 10px 15px 30px;
}

main{
    background-color: lightgrey;
    width: 100%;
    height: 100%;
}

.buttom{
    background-color: white;
    padding: 15px 50px;

}

#add-task{
    font-size: 10px;
    color: white;
    background-color: rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
    padding: 5px;
    border-radius: 10%;
}

#add-section{
    font-size: 10px;
    color: lightgrey;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 10%;
}

ul,ol{
    list-style: none;

}

.v{
    color:green;
    border: 2px solid green;
    border-radius: 50%;
}

.x{
    color: tomato;
    border: 2px solid tomato;
    border-radius: 50%;
}

.list{
    background-color: white;
    padding: 50px;

}

